<template>
  <div>
    <v-row justify="center">
      <v-dialog v-model="loginDialog" max-width="400px">
        <Login @closeDialog="closeLogin"/>
      </v-dialog>
    </v-row>
     <v-row justify="center">
      <v-dialog v-model="registerDialog" large>
        <Register @closeDialog="closeRegister"/>
      </v-dialog>
    </v-row>
    <v-app-bar fixed app height="70" color="primary">
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <NuxtLink to="/">
              <img class="logo" src="https://www.fiwfans.com/_nuxt/img/logo.a79ccd1.png" alt="logo" />
            </NuxtLink>
          </v-col>
          <v-col cols="12" md="6" align="right">
            <div class="mt-2">
              <v-btn color="success" class="mr-3" elevation="6" @click="register()">
                <v-icon class="mr-2">mdi-account-plus-outline</v-icon>สมัครสมาชิก
              </v-btn>
              <v-btn elevation="6" @click="login()">
                <v-icon class="mr-2">mdi-login-variant</v-icon>เข้าสู่ระบบ
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
  </div>
</template>

<script>
import Login from '~/components/Dialogs/Login'
import Register from '~/components/Dialogs/Register'

export default {
  components: {
    Login,
    Register
  },
  data: () => ({
    loginDialog: false,
    registerDialog: false,
  }),
  methods: {
      closeLogin() {
          this.loginDialog = false
      },
      closeRegister(value) {
          this.registerDialog = false
      },
      login() {
          this.loginDialog = true
        // this.$store.dispatch('get_user')
      },
      register() {
          this.registerDialog = true
      }
  }
}
</script>

<style lang="scss" scoped>
.logo {
  width: 170px;
  height: 50px;
}
</style>