<template>
  <div>
    <v-card class="py-5">
      <v-card-title class="justify-center">
        <span>เข้าสู่ระบบ</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field label="UserName*" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Password*" type="password" required></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-btn depressed color="primary" @click="$emit('closeDialog')" block>เข้าสู่ระบบ</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>