<template>
  <v-card class="py-5">
    <v-card-title class="justify-center">
      <span>สมัครสมาชิก</span>
    </v-card-title>
    <v-divider></v-divider>

    <v-card-text class="mt-3">
      <v-container>
        <v-row>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-model="form.name"
              label="ชื่อ - นามสกุล"
              required
              :error-messages="nameErrors"
              @input="$v.form.name.$touch()"
              @blur="$v.form.name.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-model="form.nickname"
              label="ชื่อเล่น"
              required
              :error-messages="nicknameErrors"
              @input="$v.form.nickname.$touch()"
              @blur="$v.form.nickname.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-model="form.email"
              label="อีเมล์"
              required
              :error-messages="emailErrors"
              @input="$v.form.email.$touch()"
              @blur="$v.form.email.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-model="form.password"
              type="password"
              label="รหัสผ่าน"
              required
              :error-messages="passwordErrors"
              @input="$v.form.password.$touch()"
              @blur="$v.form.password.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="12">
            <v-file-input outlined label="ไฟล์รูปภาพ" dense @change="handleOnchange"></v-file-input>
          </v-col>
          <v-col cols="12" md="12">
            <v-textarea
              outlined
              v-model="form.address"
              label="ที่อยู่"
              required
              :error-messages="addressErrors"
              @input="$v.form.address.$touch()"
              @blur="$v.form.address.$touch()"
            ></v-textarea>
          </v-col>
          <v-col cols="12" md="3">
            <v-select
              outlined
              v-model="form.gender"
              :items="items"
              item-text="name"
              item-value="value"
              label="เพศ"
              required
              :error-messages="genderErrors"
              @change="$v.form.gender.$touch()"
              @blur="$v.form.gender.$touch()"
            ></v-select>
          </v-col>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-mask="'##'"
              v-model="form.age"
              label="อายุ"
              required
              :error-messages="ageErrors"
              @input="$v.form.age.$touch()"
              @blur="$v.form.age.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-model="form.height"
              label="ส่วนสูง"
              required
              :error-messages="heightErrors"
              @input="$v.form.height.$touch()"
              @blur="$v.form.height.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3">
            <v-text-field
              outlined
              v-model="form.weight"
              label="น้ำหนัก"
              required
              :error-messages="weightErrors"
              @input="$v.form.weight.$touch()"
              @blur="$v.form.weight.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="12">
            <v-textarea
              outlined
              v-model="form.about"
              label="เกี่ยวกับฉัน"
              required
              :error-messages="aboutErrors"
              @input="$v.form.about.$touch()"
              @blur="$v.form.about.$touch()"
            ></v-textarea>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn color="primary" @click="$emit('closeDialog', 'close')">Close</v-btn>
      <v-btn color="primary" @click="submit">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  validations: {
    form: {
      name: { required, maxLength: maxLength(200) },
      nickname: { required },
      email: { required, email },
      password: { required },
      address: { required },
      age: { required },
      height: { required },
      gender: { required },
      weight: { required },
      about: { required },
    },
  },
  data: () => ({
    form: {
      name: null,
      nickname: null,
      email: null,
      password: null,
      address: null,
      age: null,
      image: null,
      gender: null,
      height: null,
      weight: null,
      about: null,
    },
    image: null,
    items: [{ name:'ชาย', value:'male'}, { name:'หญิง', value:'female'}],
  }),
  computed: {
    nameErrors() {
      const errors = []
      if (!this.$v.form.name.$dirty) return errors
      !this.$v.form.name.maxLength &&
        errors.push('Name must be at most 10 characters long')
      !this.$v.form.name.required && errors.push('Name is required.')
      return errors
    },
    nicknameErrors() {
      const errors = []
      if (!this.$v.form.nickname.$dirty) return errors
      !this.$v.form.nickname.required && errors.push('Nickname is required.')
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.email.email && errors.push('Must be valid e-mail')
      !this.$v.form.email.required && errors.push('E-mail is required')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.form.password.$dirty) return errors
      !this.$v.form.password.required && errors.push('Password is required')
      return errors
    },
    addressErrors() {
      const errors = []
      if (!this.$v.form.address.$dirty) return errors
      !this.$v.form.address.required && errors.push('Address is required')
      return errors
    },
    ageErrors() {
      const errors = []
      if (!this.$v.form.age.$dirty) return errors
      !this.$v.form.age.required && errors.push('age is required')
      return errors
    },
    heightErrors() {
      const errors = []
      if (!this.$v.form.height.$dirty) return errors
      !this.$v.form.height.required && errors.push('height is required')
      return errors
    },
    weightErrors() {
      const errors = []
      if (!this.$v.form.weight.$dirty) return errors
      !this.$v.form.weight.required && errors.push('weight is required')
      return errors
    },
    aboutErrors() {
      const errors = []
      if (!this.$v.form.about.$dirty) return errors
      !this.$v.form.about.required && errors.push('about is required')
      return errors
    },
    genderErrors() {
      const errors = []
      if (!this.$v.form.gender.$dirty) return errors
      !this.$v.form.gender.required && errors.push('gender is required')
      return errors
    },
  },
  methods: {
    test(value) {
console.log(value)
    },
    submit() {
      this.$v.form.$touch()
      if (this.$v.form.$pending || this.$v.form.$error) return
      this.save()
    },
    async save() {
      const image = await this.upload()
      if (image) {
        this.form.image = image
        await this.$store.dispatch('register', this.form).then((response) => {
          if (response.status == 'success') {
            this.$emit('closeDialog', 'save')
          }
        })
      }
    },
    handleOnchange(image) {
      this.image = image
    },
    async upload() {
      if (!this.image) {
        this.$swal({
          title: 'เกิดข้อผิดพลาด',
          text: 'กรุณาอัพโหลดรูปภาพ',
          icon: 'error',
          showConfirmButton: true,
        })
      } else {
        const formData = new FormData()
        formData.set('image', this.image)
        const data = await this.$axios.$post('/upload', formData)
        return data
      }
    },
  },
}
</script>

<style lang="scss" scoped>
</style>